@charset "UTF-8";

/*  common
--------------------------------*/
    *, *::before, *::after{ box-sizing: border-box; }
body{
    max-width: ;
    color: #333333;
    font-size: 13px;
    line-height: 1.6;
    font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}
.box{
    position: relative;
    width: 100%;
}
.box p{
    font-size: 96px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 5%;
}
.why-area{
    width: auto;
    height: 300px;
    background-color: #ce9797;
    margin-bottom: 128px;
}
.why-area p{
    margin-top: 20px;
}
.portfolio-area{
        width: auto;
        height: 300px;
        background-color: #a05857;
        margin-bottom: 128px;
    }
}
.hobby-area{
    width: auto;
    height: 300px;
    background-color: #ce9797;
    margin-bottom: 256px;
}
.hobby-area p{
    margin-top: 20px;
}
.container{
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}
main{
    background-color: #f8f8f8;
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
    line-height: 3.2;
}
/*  animation
--------------------------------*/
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
​
@keyframes bottom-up{
    0%{
        bottom: -64px;
    }
    100%{
        bottom: 0;
    }
}
.box{
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}